---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "En curso",
    title: "Desarrollador Freenlance",
    company: "FisioSport-boo",
    description:
      "En mi rol como desarrollador frontend en FisioSport-boo, soy responsable de crear y optimizar interfaces de usuario que son intuitivas, eficientes y estéticamente atractivas. Mi trabajo se centra en asegurar que cada interacción en la plataforma sea fluida.",
    link: "https://fisiosport-boo.vercel.app/",
  },
  {
    date: "Enero 2024 - Agosto 2024",
    title: "Desarrollador Frontend",
    company: "Bairü",
    description:
      "En mi rol como desarrollador frontend en Bairu.io, soy responsable de crear y optimizar interfaces de usuario que son intuitivas, eficientes y estéticamente atractivas. Mi trabajo se centra en asegurar que cada interacción en la plataforma sea fluida.",
    link: "https://www.bairu.io/",
  },
  {
    date: "Diciembre 2023",
    title: "Desarrollador Freelance",
    company:
      "CIINTUR - Centro de Investigación e Innovación en Turismo Unifranz ",
    description:
      "Desarrollé la página web de CIINTUR, un centro de investigación que busca promover la innovación en el sector turístico. ",
    link: "https://ciintur-unifranz.vercel.app/",
  },
  {
    date: "Septiembre 2022",
    title: "Desarrollador Frontend",
    company: "Comarca Cowork",
    description:
      "Me encargué de desarrollar la página web de Comarca Cowork, un espacio de trabajo colaborativo en el que se fomenta la creatividad y la innovación. ",
    link: "https://comarcagroup.com/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
